:root {
  --border-radius: 10px;
  --card-radius: 5px;
}
.card-custom {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px auto 80px;
  grid-template-areas: "image" "text" "stats";

  font-family: sans-serif;
  border-radius: var(--card-radius);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: 0.5s ease;
}

.card-custom:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.9);
}

/* Image Section Start */
.card-image {
  grid-area: image;
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  width: 300px;
  height: 210px;
  object-fit: fill;
}
/* Image Section End */
/* Text Section Start */
.card-text {
  grid-area: text;
  background-color: #222222;
  font-size: 1.2vw;
  transition: 0.3s ease;
  padding: 2%;
  color: #3399ff;
  transition: 0.2s ease-out;
  text-decoration: none;
  z-index: 2;
  font-weight: 520;
  text-decoration: none !important;
  height: 45px;
  overflow: hidden;
}

.card-text:hover {
  background-color: #3399ffff;
  color: #eeeeee;
  overflow: visible;
  height: fit-content;
}
/* Text Section End */

/* Stats Section Start */
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  border-bottom-left-radius: var(--card-radius);
  border-bottom-right-radius: var(--card-radius);
  background: rgba(0, 0, 0, 0.9);
  color: #eeeeee !important;
}

.card-stats .stat {
  text-align: center;
  padding: 13px 0px;
  transition: 0.5s ease;
}
.card-stats .stat:hover {
  transform: scale(1.1);
  color: #3399ff !important;
}

/*stat infos*/
.card-stats .type {
  font-size: 0.75rem;
  font-weight: 550;
  text-transform: uppercase;
  text-decoration: none;
  color: #494949e1 !important;
  transition: 0.3s ease-out;
}
.card-stats .type:hover {
  color: #3399ff !important;
}

.card-stats .value {
  font-size: 1.38rem;
  font-weight: 500;
}

/* middle stat border*/
.card-stats .border-custom {
  border-left: 3px solid #222222;
  border-right: 3px solid #222222;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: 0.3s ease;
}
.card-stats .border-custom:hover {
  border-left: 4px solid #3399ff;
  border-right: 4px solid #3399ff;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: scale(0.9);
}
.card-stats .mid {
  text-decoration: line-through;
  font-size: 0.8rem;
  font-weight: 550;
  text-transform: uppercase;
}
/* Stats Section End */

/*card stats for searched Card */
.card-stats-searched{
  grid-area: stats;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  border-bottom-left-radius: var(--card-radius);
  border-bottom-right-radius: var(--card-radius);
  background: rgba(0, 0, 0, 0.9);
  color: #eeeeee !important;
}
.card-stats-searched .searched{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-stats-searched .stat {
  text-align: center;
  padding: 13px 0px;
  transition: 0.5s ease;
}
.card-stats-searched .stat:hover {
  transform: scale(1.1);
  color: #3399ff !important;
}


.card-stats-searched .type {
  font-size: 1rem;
  font-weight: 550;
  text-transform: uppercase;
  text-decoration: none;
  color: #494949e1 !important;
  transition: 0.3s ease-out;
}
.card-stats-searched .type:hover {
  color: #3399ff !important;
}
.card-stats-searched .value {
  font-size: 1.38rem;
  font-weight: 500;
}