:root {
  --border-radius: 8px;
}
.card-custom {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 50px 80px;
  grid-template-areas: "image" "text" "stats";

  font-family: roboto;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: 0.5s ease;
}

.card-custom:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.9);
}

/* Image Section Start */
.card-image {
  grid-area: image;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 300px;
  height: 210px;
}
/* Image Section End */
/* Text Section Start */
.card-text {
  grid-area: text;
  margin: 0.5px;
  background-color: #3399ff;
  font-size: 27px;
  transition: 0.3s ease;
}
.card-text:hover {
  transform: scale(1.1);
  background-color: #3399ff;
  border-radius: 7px;
}

.card-text .card-hl {
  color: #222222;
  transition: 0.2s ease;
  text-decoration: none;
}
.card-text .card-hl:hover {
  color: #eeeeee;
}
/* Text Section End */
/* Stats Section Start */
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background: rgba(0, 0, 0, 0.9);
  color: #eeeeee;
}

.card-stats .stat {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  transition: 0.5s ease;
}
.card-stats .stat:hover {
  transform: scale(1.2);
}

/*stat infos*/
.card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}
/* middle stat border*/
.card-stats .border-custom {
  border-left: 2px solid #3399ff;
  border-right: 2px solid #3399ff;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: 0.5s ease;
}
.card-stats .border-custom:hover {
  border-left: 4px solid #3399ff;
  border-right: 4px solid #3399ff;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: scale(0.9);
}
/* Stats Section End */
